.main-wrap {
  background: white;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
}

.main {
  width: 690px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.title {
  color: #222c37;
  font-size: 34px;
  line-height: 51px;
  padding: 32px 0 12px 0;
  font-weight: 700;
}

.author {
  display: flex;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #7a8087;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.name,
.time,
.watch-count {
  margin-left: 10px;
}

.time {
  color: #7a8087;
}

.news-content {
  padding: 34px 0;
  font-size: 16px;
  line-height: 28px;
  color: #222c37;
  word-wrap: break-word;
}

.error-msg {
  margin-top: 50px;
  font-weight: 700;
  font-size: 30px;
}
