
.login-container {
    height: 835px;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 50px;
}

.login-container .login-form-container {
    position: absolute;
    left: 950px;
    top: 215px;
    width: 350px;
}

.login-form-forgot {
    float: right;
}

.login-submit-btn {
    width: 100%;
}

.login-container .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 1688px;
    height: 837px;
}