.login-container {
    height: 835px;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 50px;
}

.login-container .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 1688px;
    height: 837px;
}

.form {
    position: absolute;
    top: 150px;
    right: 150px;
    width: 400px;
}