.donation-records {


  > .header {
    line-height: 33px;
    margin-top: 10px;
    margin-bottom: -10px;
    display: flex;
    justify-content: space-between; 

     .title {
      font-weight: 700;
      font-size: 24px;
      color: #222c37;
    }

    .total {
      font-size: 16px;
      padding-left: 40px;
      color: #7a8087;
    }

    .money {
      font-size: 16px;
      margin-right: 10px;
    }
  }

  > .record-list {

    > .content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }

    > .pagination-wrap {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
}