.container-wrap {
    background: #f8f8f9;
    overflow: hidden;
}

     .container {
        padding: 0!important;
        width: 1080px;
        margin: 110px auto 40px;

        display: flex;
        align-items: flex-start;
        
        > .side-menu {
            flex: 1 1;
            margin-right: 30px;
        }

        > .content {
            flex: 4 4;
            background: white;
            padding: 0 24px;
            align-self: stretch;

            :global {
                .title {
                    margin-top: 25px;
                }
            }

        }
    }

.spin-wrap {
    width: 100%;
    height: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}