.total {
  font-size: 16px;
  padding-left: 40px;
  color: #7a8087;
  font-weight: normal;
}

.add-btn {
  color: #425eb2;
  float: right;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
}