@import 'config.scss';

.header {
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  font-weight: 700;
  color: $text-color;
}

html, body {
  color: $text-color;
}

a {
  text-decoration: none;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dee0e1;
}

