$green : #83a90d;

.donation-page > .content-container {
    margin: auto;
    overflow: hidden;
}

.donation-page .content-main {
    width: 980px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.donation-page .main-left {
    width: 670px;
}

.donation-page .main-right {
    width: 282px;
}

.donation-page .donation-status {
    height: 35px;
    background: #f4f4f2;
    border: 1px #dfdfdf solid;
    line-height: 35px;
    font-size: 14px;
    padding-left: 14px;
}

.donation-page .donation-status > span {
    padding-right: 20px;
}
.donation-page .donation-status .d-s-num {
    font-weight: normal;
    color: #5f9638;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
}

.donation-page .recommend-projects .project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.donation-page .recommend-projects .project-list .project{
    width: 320px;
}

.donation-page .recommend-projects .project > img {
    width: 320px;
    height: 180px;
}

.donation-page .recommend-projects .project-name {
    padding: 14px;
}

.donation-page .recommend-projects .project .project-detail {
    padding: 14px;
    padding-top: 0;
    display: flex;
}

.donation-page .project .project-detail-left {
    line-height: 25px;
    color: #afafaf;
    font-size: 12px;
}

.donation-page .recommend-projects .project .project-detail .project-detail-left{
    width: 200px;
}

.donation-page .recommend-projects .project .project-detail .project-detail-right {
    position: relative;
}

.donation-page .recommend-projects .project .project-detail .project-detail-right .p-d-r-link{
    position: absolute;
    bottom: 0;
}


.donation-page {
    .project-list-wrap {
        padding-top: 20px;
        > .title {
        font-size: 18px;
        font-weight: normal;
        color: #1d1d1d;
        margin: 10px auto 25px auto;
        line-height: 18px;
        clear: both;
        padding-left: 5px;
        border-left: 3px solid #83a90d;
        }

    }
    .project-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .project {
            color: rgba(0, 0, 0, 0.65);
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            transition: all 0.4s linear;
            &:hover {
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            }

            .project-name {
                .type-icon {
                    position: relative;
                    display: inline-block;
                    background: #83a90d;
                    width: 62px;
                    text-align: center;
                    line-height: 18px;
                    font-size: 12px;
                    color: white;
                    margin-right: 10px;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        left: 100%;
                        top: 50%;
                        transform: translateY(-50%);
                        border: 5px solid #83a90d;
                        border-top-color: transparent;
                        border-right-color: transparent;
                        border-bottom-color: transparent;
                    }
                }
            }
            .project-detail {
                font-size: 12px;
                display: flex;

                .project-detail-left {
                    .project-item {
                        .num {
                            font-weight: bold;
                            font-family: Arial;
                        }
                        &.money {
                            .num {
                                color: #ff5a43;
                            }
                        }
                        &.count {
                            .num {
                                color: #afafaf;
                            }
                        }
                    }
                }

                .project-detail-right {
                    position: relative;
                    .p-d-r-link {
                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }
    }

    .project-list-wrap.other-project-list {
        .title {
            .more-link {
                float: right;
                padding-left: 20px;
                color: #626262;
                font-size: 12px;
                background: url('./sprite8-v2.png') 0 -28px no-repeat;
            }
        }
        .project-list {
            .project {
                width: 210px;
                img {
                    width: 210px;
                    height: 118px;
                }

                .project-name {
                    margin: 8px auto 4px 9px;
                    padding: 0;
                    font-size: 14px;
                    color: #454647;
                    font-weight: normal;
                    height: 23px;
                }

                .project-detail {
                    width: 192px;
                    margin: auto;
                    margin-bottom: 10px;

                    .project-detail-left {
                        width: 120px;

                    }
                }
            }
        }
    }

    .donation-btn-group {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 2px solid #e0e0e0;
        .btn {
            height: 84px;
            width: 134px;
            background: url('./index_btn.jpg') 0 0 no-repeat;

            &.proposal-btn {
                background-position: 0 0;
                &:hover {
                    background-position: -134px 0;
                }
            }

            &.donate-btn {
                background-position: 0 -86px;
                &:hover {
                    background-position: -134px -86px;
                }
            }
        }
    }
    .donation-procedure {
        margin-top: 27px;
        margin-bottom: 40px;
        .title {
            margin-bottom: 22px;
            color: #1d1d1d;
            font-size: 16px;
            .icon {
                display: inline-block;
                vertical-align: top;
                margin-top: 4px;
                margin-right: 5px;
                width: 20px;
                height: 20px;
                background: url('sprite8-v2.png') no-repeat;
            }
        }
        .procedure-item {
            margin-bottom: 11px;
            line-height: 28px;
            background-color: #f4f4f4;
            display: flex;
            .num {
                display: inline-block;
                color: white;
                font: {
                    style: italic;
                    family: Impact;
                    size: 16px;
                };
                text-align: center;
                width: 28px;
                height: 28px;
                background-color: #cadba5;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 8px solid #cadba5;
                    left: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .name {
                font-size: 14px;
                font-weight: 600;
                margin-left: 21px;
                color: #646363;
            }

            .desc {
                margin-left: 20px;
                color: #9b9b9b;
                font-size: 12px;
            }

            &:hover {
                background-color: #cadda6;
                .num {
                    background-color: #4e931c;
                    &::after {
                        border-left-color: #4e931c;
                    }
                }
                .name {
                    color: #51882b;
                }
            }
        }
    }
    .frequently-problems {
        .title {
            color: #1d1d1d;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 14px;
            .icon {
                display: inline-block;
                vertical-align: top;
                width: 20px;
                height: 20px;
                margin-top: 3px;
                margin-right: 5px;
                background: url('./sprite8-v2.png') -22px 0 no-repeat;
            }

            .more-link {
                float: right;
                font-size: 12px;
                color: #666;
            }
        }

        .problem {
            margin-bottom: 17px;
            font-size: 12px;
            color: #656262;
        }
    }

    .content-container {
        .banner {
            height: 350px;
            margin-bottom: 30px;
            width: 100%;
            background: url('./succor_banner.png');
            background-position: center center;
        }
    }
}
