.favor-projects {

    .title {
      font-weight: 700;
      font-size: 24px;
      color: #222c37;
    }

     .total {
      font-size: 16px;
      padding-left: 40px;
      color: #7a8087;
      font-weight: normal;
    }

  > .project-list {
    margin-top: 20px;
    padding-bottom: 20px;

    
    > .pagination {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
}