.sign-container {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e7e7e7;
    position: relative;

    .background-wrap {
        position: absolute;
        width: 100%;
        height: 100%;

        .bg-img {
            height: 900px;
        }
    }
}

