.favor-projects {


     .total {
      font-size: 16px;
      padding-left: 40px;
      color: #7a8087;
      font-weight: normal;
    }

     .add-project {
      font-size: 16px;
      font-weight: 400px;
      font-weight: normal;
      color: #576b95;
      float: right;
      cursor: pointer;
    }

  > .project-list {
    margin-top: 20px;
    padding-bottom: 20px;


    
    > .pagination-wrap {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
}


.project-modal {
  margin-top: 20px;
}

.project-card-wrap {
  position: relative;

  &:hover {
    .project-mask {
      visibility: visible;
    }
  }

  .project-mask {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}