.search-page {

    .project-list {
        width: 980px;
        min-height: 500px;
        margin: auto;
    }
    
    .project-list .project {
        display: flex;
        align-items: flex-start;
        padding: 20px 0;
        border-bottom: 1px dashed #dfdfdf;
    }
    
    .project-list .project img{
        width: 220px;
        height: 122px;;
        margin-right: 20px;
    }
    
    .project-list .project .project-body{
        display: flex;
        justify-content: space-between;
    }
    .project-list .project .project-body .project-content{
        width: 500px;
        font-size: 12px;
        line-height: 20px;
        color: #3d3d3d;
    }
    .project-list .project .project-body .introduction{
        height: 40px;
        overflow: hidden;


        .text {
            width: 400px;
            text-overflow: ellipsis;
        }
    }
    
    .project-list .project .project-body .project-info-item{
        display: flex;
    }
    .project-list .project .project-body .project-info-item .label{
        line-height: 20px;
        color: #9b9b9b;
        width: 70px;
        font-size: 12px;
        display: inline-block;
    }
    .project-list .project .project-body .title{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .project-list .project .project-body .project-status{
        color: #9c9a9b;
        font-size: 12px;
        line-height: 25px;
        width: 220px;
    }
    .project-list .project .project-body .project-status .donation-option{
        margin-top: 22px;
    }
    
    .project-list .page-btns{
        font-size: 16px;
        line-height: 32px;
        padding-top: 20px;
        color: #222;
        padding-bottom: 30px;
    }
    .project-list .page-btns .page-btn{
        margin-right: 10px;
    }
    .project-list .page-btns .page-btn:first-child{
        margin-left: 10px;
    }
}
